<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>velo-cmdb-app.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01C208072BE413D800B2EC4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01C2081A2BE413DA00B2EC4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01C208242BE413DA00B2EC4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
